<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Álbuns</h1>
    {% if albuns %}
        <ul>
            {% for album in albuns['items'] %}
                <li>{{ album['name'] }}  
                    <img src="{{ album['images'][0]['url'] }}" alt="Imagem do Álbum" height="{{ album['images'][0]['height'] }}" width="{{ album['images'][0]['width'] }}">
                </li>

            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum álbum encontrado.</p>
    {% endif %}
</body>
</html>