<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Álbuns</h1>
    {% if albuns %}
        <ul>
            {% for album in albuns %}
                <li>{{ albuns['name'],['teste'] }} 
                    {{ album['album_type']}}
                    
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum álbum encontrado.</p>
    {% endif %}
</body>
</html>