<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> MUSICAS DO ALBUM </h1>
    {% for track in tracks['items'] %}
        <li>
            <strong>Nome da Faixa:</strong> {{ track['name'] }}
            <br>
            <strong>Artistas:</strong>
            <strong>Duração:</strong> {{ track['duration_ms'] / 1000 }} segundos
        </li>
    {% endfor %}
</body>
</html>